<a href="https://colab.research.google.com/github/iffatzahra/TSF-Task-1/blob/main/Student_Percentage_Prediction_Unsupervised_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# Importing Libraries & Modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [13]:
# Importing Data
url = 'https://raw.githubusercontent.com/AdiPersonalWorks/Random/master/student_scores%20-%20student_scores.csv'
data = pd.read_csv(url)
df = pd.DataFrame(data)
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [16]:
# Checking Data For Null Values
df.isnull().sum()

Hours     0
Scores    0
dtype: int64

### **Our Data Containes No Null Value**